<div class="login-container">
  <div id="sect1" class="container-fluid">
    <div id="g_id_onload"
     data-client_id="380134897171-beflf6k8mi6tuil0fge41humm73hndb2.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4200/home"
     data-nonce=""
     data-itp_support="true">
    </div>

    <div class="g_id_signin d-flex pt-5 align-items-center justify-content-center"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left"
     data-width="500">
    </div>
    <!-- <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
       data-client_id="380134897171-beflf6k8mi6tuil0fge41humm73hndb2.apps.googleusercontent.com"
       data-login_uri="http://localhost:4200/home"
       data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
       data-type="standard"
       data-size="large"
       data-theme="outline"
       data-text="sign_in_with"
       data-shape="rectangular"
       data-logo_alignment="left">
    </div> -->
    <!-- <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button> -->
  </div>
</div>