#sect1 {  
    color: #000000;background-image: url("../../../assets/images/studio5-login-logo.png");  
    width: 800px;
    height: 800px;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login-container{
    background-color: hsl(210deg 44.1% 6.56%);
    height: 100vh;
}